*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: #14d2ac;
    color: #000000;
}

#wrapper{
    height:100vh;
    
}

.flex-hl-vl-center{
    display:flex;
    justify-content:center;
    align-items:center;
}
.col{
    flex-direction:column;
}

#content-wrapper{
    width:300px;
}

.time{
    padding:0px 5px;
    font-weight:200;
}
.row{
    padding:3px 10px;
}

.row:nth-child(2){
    border-top:1px solid black;
    border-bottom:1px solid black;
    padding:0px 10px;
}

.greetings{
    font-size:1.3em;
}
.time, .sep{
    font-size:3em;
}

.sep{
    font-family:'open sans',arial;
}

.date-container{
    font-size:1.5em;
    text-align:center;
}
#day{
    font-weight:bold;
}