*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}

#wrapper{
    height:100vh;
}

.flex-hl-vl-center{
    display:flex;
    justify-content:center;
    align-items:center;
}
.col{
    flex-direction:column;
}

.row{
    border:1px solid black;
}